.bottom-panel {
  background: orange;
  width: 70%;
  margin: 1rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save-btn {
  background: sienna;
  margin-top: 20px;
  padding: 1rem 2rem;
  color: white;
}